<section class="section-pad">
  <div class="row column xlarge-9">
    <div class="date-card medium-4 column">
      <div class="row collapse">
        <div class="small-5 column">
          <div class="dates">
            <div class="month">Sept</div>
            <div class="days">22</div>
          </div>
        </div>
        <div class="small-7 column">
          <h3 class="date-card-title">Tutorials</h3>
          <p>One day, numerous tutorials</p>
        </div>
      </div>
    </div>
    <div class="date-card medium-4 column">
      <div class="row collapse">
        <div class="small-5 column">
          <div class="dates">
            <div class="month">Sept</div>
            <div class="days">23-25</div>
          </div>
        </div>
        <div class="small-7 column">
          <h3 class="date-card-title">Talks</h3>
          <p>Dozens of talks chosen by the community</p>
        </div>
      </div>
    </div>
    <div class="date-card medium-4 column">
      <div class="row collapse">
        <div class="small-5 column">
          <div class="dates">
            <div class="month">Sept</div>
            <div class="days">26-27</div>
          </div>
        </div>
        <div class="small-7 column">
          <h3 class="date-card-title">Sprints</h3>
          <p>Team up to work on Django!</p>
        </div>
      </div>
    </div>
  </div>
</section>
