<div class="row">
  <div class="column small-6 medium-4 large-3">
    <img
      src="/static/img/hands.svg"
      alt="Hands"
      class="icon" />
  </div>
  <div class="column small-6 medium-4 large-3">
    <img
      src="/static/img/heart.svg"
      alt="Heart"
      class="icon" />
  </div>
  <div class="column small-6 medium-4 large-3">
    <img
      src="/static/img/program.svg"
      alt="Program"
      class="icon" />
  </div>
  <div class="column small-6 medium-4 large-3">
    <img
      src="/static/img/people.svg"
      alt="People"
      class="icon" />
  </div>
</div>
