<section class="row v-pad-bottom">
  <figure class="column small-12 medium-6">
    <img src="/static/img/home-testimonial.jpg" alt="" />
  </figure>

  <div class="column small-12 medium-6">
    <h3>Photo Feature Title</h3>
    <p>A few lines of text. If you just want to put a photo or some text side-by-side you can use this format. This uses the standard Foundation grid. On smaller displays, the photo will be on top. You can change this by changing the order of the two <code>.column</code> nodes.</p>
  </div>
</section>
