<h1>Photo Feature</h1>
<p>This component is always two columns, relying on the default Foundation grid.</p>

{% highlight html %}{% include styleguide/photo-feature-example1.html %}{% endhighlight %}

<div class="ss-code-live">
  {% include styleguide/photo-feature-example1.html %}
</div>

<hr />

<h2>Collapsed, Two Images</h2>

<p>The collapsed version simply removes gutters between the two columns, which is ideal if you want two images of similar size to touch.</p>

{% highlight html %}{% include styleguide/photo-feature-example2.html %}{% endhighlight %}

<div class="ss-code-live">
  {% include styleguide/photo-feature-example2.html %}
</div>
